<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/scripts/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<script src="/scripts/js/bootstrap.min.js"></script>
		<style>
  			.background{
  				background-color: #f2f2f2;
  				color: #464b4b;
  				text-align: center;
  			}
  		</style>
  	</head>
  	<body class="background">
		<div class="container">
			<div class="title">
				<p style="font-size: 200px; font-weight: bold; padding-top: 100px">404</p>
				<p style="font-size: 50px;">Page Not Found</p>
			</div>
		</div>
	</body>
</html>