<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/bs/css/bootstrap.min.css">
		<link rel="stylesheet" href="/validator/css/bootstrapValidator.min.css">

		<script src="/jq/jquery-2.2.4.min.js"></script>
  		<script src="/bs/js/bootstrap.min.js"></script>
  	</head>
  	<body>
  		<div class="background">
  			<div class="container">
		  		<div class="title">
		  			<p style="font-size: 100px; margin-top: 5%; margin-left: 1%; margin-right: 1%; text-align: center;">Thank you for visiting</p>
		  		</div>
		  		<div class="visualize">
		  		</div>
	  		</div>
  		</div>
  	</body>
</html>